.o-component {
  position: relative;
  background-size: cover;

  &--background-image {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
      z-index: 0;
      background-color: inherit;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }
}