.c-text {
  display: flex;
  align-items: center;
  padding: $big-margin;

  &--fullscreen {
    height: 100vh;
  }

  &__hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}