{% extends "blocks/default-block.twig" %}

{% block component %}
<div class="c-product">
	<div class="c-product__wrapper" data-points='[{{ fields.image_mapping }}]'>
		<img src="{{ Image(fields.image) }}" alt="{{ fields.image.alt }}">
	</div>
</div>
{% endblock %}