{% extends "blocks/default-block.twig" %}

{% block component %}
<div class="c-rows {{ align_class }}">
	{% if fields.row %}
		<ul class="c-rows__slides">
		{% for field in fields.row %}
			<li class="slide">
				{% if field.title %}
					<h2>{{ field.title }}</h2>
				{% endif %}
				{% if field.image %}
					<img src="{{ field.image.url }}" alt="{{ field.image.alt }}" />
				{% endif %}
				{% if field.content %}
					{{ field.content }}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}