$color-dark: #000000;
$color-light: #ffffff;
$color-grey: #888888;
$color-lightest-grey: #F8F8F8;

//colors by function
$color-text: $color-dark;
$color-accent: $color-grey;
$color-background: $color-light;
$color-border: $color-background;
$color-link: $color-dark;
$color-link-hover: lighten($color-dark, 20%);
$color-text-selection: $color-accent;
$color-highlight: $color-dark;