$color-dark: #000000;
$color-light-grey: rgb(245, 245, 245);
$color-light: #ffffff;
// $color-red: #EE3434;
// $color-red: rgb(237, 17, 37);
$color-red: #4d07ff;
$color-lightest-grey: #F8F8F8;

//colors by function
$color-text: $color-dark;
$color-accent: $color-red;
$color-background: $color-light;
$color-border: $color-background;
$color-link: $color-dark;
$color-link-hover: lighten($color-dark, 20%);
$color-text-selection: $color-accent;
$color-highlight: $color-dark;