@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/gt-america-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Extended';
  src: url('../fonts/gt-america-extended-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Expanded';
  src: url('../fonts/GTAmerica-ExpandedBlack.woff2') format('woff2'),
      url('../fonts/GTAmerica-ExpandedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


// gt-america-blackitalic.woff
// gt-america-bolditalic.woff
// gt-america-mediumitalic.woff
// gt-america-regularitalic.woff
// gt-america-lightitalic.woff
// gt-america-ultralightitalic.woff
// gt-america-thinitalic.woff

// gt-america-extended-bold.woff

// gt-america-black.woff
// gt-america-bold.woff
// gt-america-medium.woff
// gt-america-regular.woff
// gt-america-light.woff
// gt-america-thin.woff
// gt-america-ultralight.woff
